<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">text&password表单</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" [routerLink]="['using-documents']">
          <button class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" type="button">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6  m-portlet__body">
          <h6>默认[type='text']</h6>
          <app-input-text [(value)]="value1"></app-input-text>
          <!-- <app-validation-message [control]="form.controls['email']"></app-validation-message> -->
          <!-- <input type="text" class="form-control m-input" formControlName="email" /> -->
          <div>value值：{{value1}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>[带名称]</h6>
          <app-input-text [label]="'年级'" [(value)]="value2"></app-input-text>
          <div>value值：{{value2}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>设定placeholder</h6>
          <app-input-text [label]="'年级'" [placeholder]="'请输入年级'" [(value)]="value3"></app-input-text>
          <div>value值：{{value3}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>带图标[左]</h6>
          <app-input-text [label]="'年级'" [leftIcon]="'flaticon-refresh'" [(value)]="value4"></app-input-text>
          <div>value值：{{value4}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>带图标[右]</h6>
          <app-input-text [label]="'年级'" [rightIcon]="'flaticon-music-1'" [(value)]="value5"></app-input-text>
          <div>value值：{{value5}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>带图标[左右]</h6>
          <app-input-text [label]="'年级'" [leftIcon]="'flaticon-refresh'" [rightIcon]="'flaticon-music-1'" [(value)]="value6"></app-input-text>
          <div>value值：{{value6}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>块级[默认]</h6>
          <app-input-text [label]="'年级'" [layoutType]="'block'" [(value)]="value7"></app-input-text>
          <div>value值：{{value7}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>块级[带图标]</h6>
          <app-input-text [label]="'年级'" [layoutType]="'block'" [leftIcon]="'flaticon-refresh'" [(value)]="value8"></app-input-text>
          <div>value值：{{value8}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>图标可点击</h6>
          <app-input-text [label]="'年级'" [layoutType]="'block'" [leftIcon]="'flaticon-refresh'" [(value)]="value9" (clickIconEventer)="getClickIconEventer($event)"></app-input-text>
          <div>value值：{{value9}}</div>
          <div>点击图标返回的value值：{{value10}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>[type='password']</h6>
          <app-input-text [label]="'年级'" [type]="'password'" [(value)]="value11"></app-input-text>
          <div>value值：{{value11}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>icon处显示文字</h6>
          <app-input-text [label]="'年级'" [iconLeftText]="'www.'" [iconRightText]="'com'" [(value)]="value12"></app-input-text>
          <div>value值：{{value12}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>尺寸（大）</h6>
          <app-input-text [label]="'年级'" [size]="'large'" [(value)]="value13"></app-input-text>
          <div>value值：{{value13}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>尺寸（中）</h6>
          <app-input-text [label]="'年级'" [(value)]="value14"></app-input-text>
          <div>value值：{{value14}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>尺寸（小）</h6>
          <app-input-text [label]="'年级'" [size]="'small'" [(value)]="value15"></app-input-text>
          <div>value值：{{value15}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
