.lz-select-selection-select {
  position: relative;

  i {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -9px;
    background: #fff;
    cursor: pointer;
  }
}

.lz-select-selection-select i:hover {
  color: #7148d2;
}

.lz-select-selection-wrapper {
  display: grid;
  grid-template-columns: 16% 84%;
  grid-template-rows: auto;
}
