<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">上传到阿里云OSS</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo一[默认]</h5>
          <app-file-upload-oss [region]="region" [accessKeyId]="accessKeyId" [accesskey]="accesskey" [bucket]="bucket"></app-file-upload-oss>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo二[button型]</h5>
          <app-file-upload-oss [type]="'button'" [region]="region" [accessKeyId]="accessKeyId" [accesskey]="accesskey"
            [bucket]="bucket"></app-file-upload-oss>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo三[有上传按钮]</h5>
          <app-file-upload-oss [uploadButton]="true" [region]="region" [accessKeyId]="accessKeyId" [accesskey]="accesskey"
            [bucket]="bucket"></app-file-upload-oss>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo四[有上传按钮，button型]</h5>
          <app-file-upload-oss [type]="'button'" [uploadButton]="true" [region]="region" [accessKeyId]="accessKeyId"
            [accesskey]="accesskey" [bucket]="bucket"></app-file-upload-oss>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo五[限制文件类型{{fileType}}]</h5>
          <app-file-upload-oss [accept]="fileType" [region]="region" [accessKeyId]="accessKeyId" [accesskey]="accesskey"
            [bucket]="bucket"></app-file-upload-oss>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo六[限制文件大小{{fileSize}}kb]</h5>
          <app-file-upload-oss [type]="'button'" [fileSize]="fileSize" [region]="region" [accessKeyId]="accessKeyId"
            [accesskey]="accesskey" [bucket]="bucket"></app-file-upload-oss>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>demo七[限制文件数量{{fileNumber}}个文件]</h5>
          <app-file-upload-oss [fileNumber]="fileNumber" [region]="region" [accessKeyId]="accessKeyId" [accesskey]="accesskey"
            [bucket]="bucket"></app-file-upload-oss>
        </div>
      </div>
    </div>
  </div>
</div>
