<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">
          从哪里听说列表
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a routerLink="./new" class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill">
            <span>
              <i class="la la-plus"></i>
              <span>新建</span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <component-ngx-query-toolbar #ngxQueryToolbar [ngxQuery]="ngxQuery"></component-ngx-query-toolbar>
        </li>
        <li class="m-portlet__nav-item">
          <button (click)="appNgxDataTable.refreshData()" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="la la-refresh"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body p-0">
    <ngx-query [hidden]="!ngxQueryToolbar.visible" class="full-screen no-header" #ngxQuery [queryTemplates]="queryTemplates">
      <ngx-query-field [name]="'name'" [label]="'名称'" [type]="'string'"></ngx-query-field>
    </ngx-query>
    <ngx-datatable #dt class="material" [scrollbarH]="true" [rows]="hearfroms" [loadingIndicator]="loading" #appNgxDataTable="NgxDataTableDirective" appNgxDataTable [ngxQuery]="ngxQuery"
      (data)="loadHearfroms($event)">
      <app-ngx-datatable-footer></app-ngx-datatable-footer>
      <ngx-datatable-column  name="名称" prop="name">
      </ngx-datatable-column>
      <ngx-datatable-column maxWidth="250"  headerClass="datatable-header-cell-acitons">
        <ng-template let-column="column" ngx-datatable-header-template>
          <app-ngx-datatable-actions [datatable]="dt" class="pull-right"></app-ngx-datatable-actions>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <!-- <a [routerLink]="['./', row.id]" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="查看">
            <i class="la la-sticky-note"></i>
          </a> -->
          <a [routerLink]="['./', row.id,'edit']" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="编辑">
            <i class="la la-edit"></i>
          </a>
          <a (click)="delete(row)" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="删除">
            <i class="la la-remove"></i>
          </a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
