<div class="m-portlet" [ngStyle]="{'box-shadow':'none'}">
  <!-- head -->
  <div class="m-portlet__head">
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a routerLink="/roles" class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill">
            <span>
              <i class="la la-reply"></i>
              <span>返回列表</span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <a class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill">
            <span>
              <i class="la la-plus"></i>
              <span>添加用户</span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <ngx-query-toolbar #ngxQueryToolbar [ngxQuery]="ngxQuery"></ngx-query-toolbar>
        </li>
        <li class="m-portlet__nav-item">
          <button (click)="appNgxDataTable.refreshData()" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="la la-refresh"></i>
          </button>
        </li>
        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
            <i class="la la-ellipsis-v"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__item">
                      <a class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-close"></i>
                        <span class="m-nav__link-text">批量移除</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- body -->
  <div class="m-portlet__body p-0">
    <ngx-query [hidden]="!ngxQueryToolbar.visible" [showModeButtons]="false" class="full-screen no-header" #ngxQuery
      [queryTemplates]="queryTemplates">
      <ngx-query-field [name]="'Sys_User.Name'" [label]="'用户名'" [type]="'string'"></ngx-query-field>
    </ngx-query>
    <ngx-datatable class="material" [scrollbarH]="true" (select)="onSelect($event)" [rows]="roleUsers"
      [loadingIndicator]="loading" [selected]="selectedRoleUsers" [selectionType]="'checkbox'" #appNgxDataTable="NgxDataTableDirective"
      appNgxDataTable (data)="loadRoleUsers($event)">
      <ngx-datatable-footer [datatable]="datatable"></ngx-datatable-footer>
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
        [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="帐号" prop="loginName">
      </ngx-datatable-column>
      <ngx-datatable-column name="姓名" prop="name" [sortable]="false" headerClass="text-left" cellClass="text-left"
        [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="邮箱" prop="email" [sortable]="false" headerClass="text-left" cellClass="text-left"
        [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="联系电话" prop="mobile" [sortable]="false" headerClass="text-left" cellClass="text-left"
        [sortable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column name="操作" maxWidth="150" headerClass="text-left" cellClass="text-left" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="dropdown m-dropdown--inline">
            <a class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
              <i class="la la-remove"></i>
            </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
