.lz-tabs-continer {
  height: 100%;
  padding: 0 20px 0 10px;
  background: #fff;

  .lz-tabs-move-icon {
    width: 30px;
    height: 100%;
    float: right;

    button {
      display: inline-block;
      width: 12px;
      padding: 6px 0;
      border: none;
      background: none;
      font-size: 18px;
      outline: none;
      cursor: pointer;
    }

    & button:nth-child(1) {
      text-align: right;
    }

    & button:nth-child(2) {
      text-align: left;
    }
  }

  .lz-tabs-remove-all {
    float: right;
    width: 26px;

    i {
      display: inline-block;
      padding: 3px;
      width: 26px;
      border: none;
      background: none;
      font-size: 24px;
      color: #2c2e3e;
      outline: none;
      cursor: pointer;
    }
  }

  .lz-tabs-content {
    width: calc(100% - 56px);
    width: -webkit-calc(100% - 56px);
    width: -moz-calc(100% - 56px);
    width: -o-calc(100% - 56px);
    height: 100%;
    float: left;
    overflow: hidden;

    ul {
      margin-bottom: 0;
    }
  }
}

.lz-tabs-item-active {
  background-color: #2c2e3e;
  color: #fff !important;
  opacity: 0.8;

  a {
    color: #fff !important;
  }
}

.lz-tabs-item-lhg {
  padding: 5px 10px;
  font-size: 14px;
  background-color: none;
  color: #676c7b;
  margin-right: 6px;
  border-radius: 4px 4px 0 0;

  a {
    padding: 0 4px;
    color: #676c7b;
    text-decoration: none;
  }

  & .fa-times {
    display: inline-block;
    font-size: 12px;
  }

  & .fa:hover {
    cursor: pointer;
  }
}

.lz-tabs-item-lhg:hover {
  background-color: #2c2e3e;
  color: #fff;
  opacity: 0.8;

  a {
    color: #fff;
  }
}

.lz-tabs-remove-all {
  position: relative;
}
