<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">文件上传</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn
            btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only
            m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>单文件上传</h5>
          <p-fileUpload name="file[]" [url]="url" chooseLabel="选择文件" cancelLabel="移除" uploadLabel="上传" (onSelect)="onSelect($event)"
            (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)" (onProgress)="onProgress($event)">
          </p-fileUpload>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>多文件上传</h5>
          <p-fileUpload name="file[]" [url]="url" [multiple]="true" chooseLabel="选择文件" cancelLabel="移除" uploadLabel="上传"
            (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)"
            (onProgress)="onProgress($event)">
          </p-fileUpload>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>限制文件类型[图片]</h5>
          <p-fileUpload name="file[]" [url]="url" chooseLabel="选择文件" cancelLabel="移除" uploadLabel="上传" accept="image/*"
            (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)"
            (onProgress)="onProgress($event)">
          </p-fileUpload>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>限制文件大小[500kb]</h5>
          <p-fileUpload name="file[]" [url]="url" chooseLabel="选择文件" cancelLabel="移除" uploadLabel="上传" (onSelect)="onSelect($event)"
            (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)" (onProgress)="onProgress($event)"
            maxFileSize="500000">
          </p-fileUpload>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>自动上传</h5>
          <p-fileUpload name="file[]" [url]="url" auto="true" chooseLabel="选择文件" cancelLabel="移除" uploadLabel="上传"
            (onSelect)="onSelect($event)" (onBeforeSend)="onBeforeSend($event)" (onUpload)="onUpload($event)"
            (onProgress)="onProgress($event)">
          </p-fileUpload>
        </div>
      </div>
    </div>
  </div>
</div>
