<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">时间选择器</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" [routerLink]="['using-documents']">
          <button class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" type="button">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row form-group m-form__group">
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>默认</h6>
          <app-datepicker [id]="'默认'" (selected)="getValue1($event)"></app-datepicker>
          <div>{{value1}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>显示今日按钮</h6>
          <app-datepicker [id]="'todayBtn'" [todayBtn]="true" (selected)="getValue2($event)"></app-datepicker>
          <div>{{value2}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>显示清除按钮</h6>
          <app-datepicker [id]="'clearBtn'" [clearBtn]="true" (selected)="getValue3($event)"></app-datepicker>
          <div>{{value3}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>只选择年</h6>
          <app-datepicker [id]="'year'" [startView]="'years'" [minViewMode]="'years'" [maxViewMode]="'years'" [format]="'yyyy'" (selected)="getValue4($event)"></app-datepicker>
          <div>{{value4}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>只选择月</h6>
          <app-datepicker [id]="'month'" [startView]="'months'" [minViewMode]="'months'" [maxViewMode]="'months'" [format]="'mm'" (selected)="getValue5($event)"></app-datepicker>
          <div>{{value5}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>只选择日</h6>
          <app-datepicker [id]="'day'" [startView]="'days'" [minViewMode]="'days'" [maxViewMode]="'days'" [format]="'dd'" (selected)="getValue6($event)"></app-datepicker>
          <div>{{value6}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>只选择年月</h6>
          <app-datepicker [id]="'yearmonth'" [startView]="'years'" [minViewMode]="'months'" [maxViewMode]="'years'" [format]="'yyyy-mm'" (selected)="getValue7($event)"></app-datepicker>
          <div>{{value7}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 m-portlet__body">
          <h6>只选择月日</h6>
          <app-datepicker [id]="'monthday'" [startView]="'months'" [minViewMode]="'days'" [maxViewMode]="'months'" [format]="'mm-dd'" (selected)="getValue8($event)"></app-datepicker>
          <div>{{value8}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 m-portlet__body">
          <h6>支持多选</h6>
          <app-datepicker [id]="'multidate'" [clearBtn]="true" [autoclose]="false" [multidate]="true" (selected)="getValue9($event)"></app-datepicker>
          <div>{{value9}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
