<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">
          {{title}}
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill" [ladda]="saving" type="button" [disabled]="form.invalid||saving"
            (click)="submit()">
            <span>
              <i class="la la-check"></i>
              <span>保存</span>
            </span>
          </button>
        </li>
        <li class="m-portlet__nav-item">
          <button class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill" type="button" (click)="location.back()">
            <span>
              <i class="la la-rotate-left"></i>
              <span>取消</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <form role="form" #hearForm [formGroup]="form" (submit)="submit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>名称
              <span class="text-danger">*</span>
            </label>
            <input type="text" formControlName="name" placeholder="名称" class="form-control" [(ngModel)]="hearFrom.name" />
            <zr-validation-message [control]="form.controls['name']" label="名称"></zr-validation-message>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
