<a href="#" class="m-menu__link m-menu__toggle">
  <i class="m-menu__link-icon flaticon-add"></i>
  <span class="m-menu__link-text">我的操作</span>
  <i class="m-menu__hor-arrow la la-angle-down"></i>
  <i class="m-menu__ver-arrow la la-angle-right"></i>
</a>
<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
  <span class="m-menu__arrow m-menu__arrow--adjust"></span>
  <ul class="m-menu__subnav" *ngIf="!addModel">
    <li class="m-menu__item m-menu__item-title" [style.margin-bottom]="editModel ? '8px': '-10px'">
      <span class="lz-history-model-title">&nbsp;</span>
      <span class="fa lz-model-edit-active" [ngClass]="{'flaticon-more-v2 lz-model-edit-icon-back':!editModel,'flaticon-interface-5 lz-model-edit-icon-move':editModel}"
        (click)="editModel=!editModel">
      </span>
      <span class="fa flaticon-cancel flaticon-cancel-rotate lz-model-edit-active" *ngIf="editModel" (click)="$event.stopPropagation();getAllModel();">
      </span>
    </li>
    <!-- 我的模块 -->
    <li class="m-menu__item" *ngFor="let mode of myOperationMyModelList | slice:0:5;let i=index">
      <a class="m-menu__link lz-m-menu__link">
        <i class="m-menu__link-icon {{mode.icon}}"></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">
              <a class="fa" [routerLink]="[mode.url]" [ngStyle]="{'text-decoration':'none'}">{{mode.name}}</a>
              <span *ngIf="editModel" class="lz-mode-edit-item">
                <i class="fa flaticon-up-arrow lz-model-edit-icon-left lz-model-edit-icon" *ngIf="i!==0" (click)="$event.stopPropagation();moveModel(mode,i,myOperationMyModelList,1,'myOperationMyModelList')"
                  title="上移"></i>
                <i class="fa flaticon-up-arrow flaticon-up-arrow-down lz-model-edit-icon" *ngIf="i!==myOperationMyModelList.length-1" (click)="$event.stopPropagation();moveModel(mode,i,myOperationMyModelList,-1,'myOperationMyModelList')"
                  title="下移"></i>
                <i class="fa flaticon-cancel" (click)="$event.stopPropagation();deleteModel(mode,myOperationMyModelList,i,'myOperationMyModelList')"
                  title="移除"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </li>
    <!-- 历史访问模块 -->
    <li class="m-menu__item" *ngFor="let modeList of myOperationOpenHistoryList | slice:0:5;let i=index">
      <a class="m-menu__link lz-m-menu__link">
        <i class="m-menu__link-icon {{modeList.icon}} "></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">
              <a class="fa" [routerLink]="[modeList.url]" [ngStyle]="{'text-decoration':'none'}">{{modeList.name}}</a>
              <span *ngIf="editModel" class="lz-mode-edit-item">
                <i class="fa flaticon-cancel" (click)="$event.stopPropagation();deleteModel(modeList,myOperationOpenHistoryList,i,'openHistoryList')"
                  title="移除"></i>
              </span>
            </span>
          </span>
        </span>
      </a>
    </li>
    <!-- 当前无可显示模块 -->
    <li class="m-menu__item" *ngIf="myOperationMyModelList.length==0&&myOperationOpenHistoryList.length==0">
      <span class="lz-history-model-title">当前无可显示模块</span>
    </li>
    <!-- >remove all -->
    <li class="m-menu__item" *ngIf="myOperationOpenHistoryList.length!==0">
      <span class="lz-history-model-de float-right" *ngIf="editModel" (click)="$event.stopPropagation();deleteModelAll()">移除全部历史</span>
    </li>
  </ul>
  <ul class="m-menu__subnav" *ngIf="addModel">
    <li class="m-menu__item">
      <div class="lz-m-menu__item">
        <!-- <tree-root [nodes]="nodes" [options]="options">
          <ng-template #treeNodeTemplate let-node="node" let-index="index">
            <i class="jstree-icon jstree-themeicon {{node.data.icon}} jstree-themeicon-custom" role="presentation"></i>
            <span>{{ node.data.name }}</span>
            <i class="la la-check m--font-primary" [hidden]="!node.data.checked"></i>
          </ng-template>
        </tree-root> -->
      </div>
    </li>
    <li class="lz-add-model-cancel">
      <a class="btn m-btn--pill btn-secondary btn-sm m-btn m-btn--custom m-btn--label-brand m-btn--bolder" (click)="$event.stopPropagation();submitCheckedModel()">添加</a>
      <a class="btn m-btn--pill btn-secondary btn-sm m-btn m-btn--custom m-btn--label-brand m-btn--bolder" (click)="$event.stopPropagation();cancelCheckedModel()">取消</a>
    </li>
  </ul>
</div>
