<div id="oss-container">
  <label *ngIf="showType" class="drop-area" for="fileSele">
    <span class="lz-upload-font" id="oss-ossfile">
      <span class="la la-cloud-upload"></span>
      <br />
      <span class="m--font-info" id="selectfiles">选择上传文件</span>
      <input type="file" name="file" id="fileSele" accept="{{accept}}" multiple  />
    </span>
  </label>
  <span *ngIf="!showType">
    <label type="button" class="btn btn-success" for="btn">
      <input type="file" id="btn" hidden>选择上传文件
    </label>
  </span>

  <div class="lz-file-upload-list">
    <div class="lz-file-upload-list-item" id="oss-file-list">
      <!-- <a href="#" target="_blank">数量肯定放假</a>
      <span>32132kb</span>
      <span class="lz-file-upload-status fa fa-times-circle float-right 'm--font-metal"></span>
      <div>
        <div class="lz-file-upload-press-content float-left">
          <div class="lz-file-upload-press-bg">
            <span class="progress-bar"></span>
          </div>
        </div>
        <div class="float-right text-right lz-file-upload-press-text">20%</div>
        <div class="clearfix"></div>
      </div> -->
    </div>
  </div>
  <div [ngStyle]="{'margin-top':'4px'}">
    <button type="button" class="btn btn-success" id="oss-postfiles">上传</button>
    <button type="button" class="btn btn-success" id="oss-fas" (click)="testasdk.test('12312')">456</button>
  </div>
</div>
