<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">badge标记</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>基础用法</h5>
          <nz-badge [nzCount]="5">
            <button type="button" class="btn btn-secondary">Bage</button>
          </nz-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>设置最大值99,输入值200</h5>
          <nz-badge [nzCount]="200">
            <button type="button" class="btn btn-secondary">Bage</button>
          </nz-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>自定义内容</h5>
          <nz-badge [nzStatus]="'success'" [nzText]="'new'">
            <button type="button" class="btn btn-secondary">Bage</button>
          </nz-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>小红点</h5>
          <nz-badge nzDot>
            <button type="button" class="btn btn-secondary">Bage</button>
          </nz-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>显示与隐藏</h5>
          <nz-badge [nzDot]="badge">
            <button type="button" class="btn btn-secondary">Bage</button>
          </nz-badge>
          <button type="button" class="btn btn-secondary" (click)="badge=!badge"> 显示与隐藏 </button>
        </div>
      </div>
    </div>
  </div>
