<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">badge标记</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>基础用法</h5>
          <zr-badge [count]="50">
            <button type="button" class="btn btn-secondary">Bage</button>
          </zr-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>超出设定值显示'+'（默认超过99）</h5>
          <zr-badge [count]="105">
            <button type="button" class="btn btn-secondary">Bage</button>
          </zr-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>设定超过值为105</h5>
          <zr-badge [count]="200" [overflowcount]="105">
            <button type="button" class="btn btn-secondary">Bage</button>
          </zr-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>显示文本</h5>
          <zr-badge [text]="'new'">
            <button type="button" class="btn btn-secondary">Bage</button>
          </zr-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>自定义颜色</h5>
          <zr-badge [count]="20" [color]="'#716aca'">
            <button type="button" class="btn btn-secondary">Bage</button>
          </zr-badge>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h5>点击显示与隐藏</h5>
          <zr-badge [count]="20" [color]="'#716aca'" #bage>
            <button type="button" class="btn btn-secondary" (click)="bage.open=!bage.open">Bage</button>
          </zr-badge>
        </div>
      </div>
    </div>
  </div>
