.m-dropdown .m-dropdown__wrapper {
  display: block;
  width: 245px;
}

.m-dropdown__arrow .m-dropdown__arrow--left {
  left: 34px;
  margin-left: 0;
}

.m-dropdown__arrow .m-dropdown__arrow--right {
  right: 34px;
  margin-left: 0;
}

.m-dropdown__arrow--adjust-right {
  right: 33px;
  left: auto;
}

.m-dropdown__arrow--adjust-left {
  left: 33px;
  right: auto;
}

.m-dropdown__disabled {
  color: #b4bccc !important;
  cursor: not-allowed !important;
}

.dropdown-btn-remove-icon {
  cursor: pointer;
}

.lz-m-dropdown__body {
  padding: 0 !important;

  .lz-m-nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.lz-la-angle-right {
  float: right;
  width: 20px;
  font-size: 0.8rem !important;
  color: #b9c1d4;
}

.lz-m-nav__item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  .lz-m-dropdown__wrapper {
    position: absolute;
    right: auto;
    top: -18px;
  }
}

.lz-m-dropdown__arrow--left {
  position: absolute;
  top: 28px !important;
  left: -24px !important;
  margin-left: 0 !important;
  transform: rotate(-90deg);
}
