<!-- click -->
<div *ngIf="trigger==='click'" class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-push m-dropdown--align-{{position}}"
  aria-expanded="true">
  <a href="javascript:void(0)" [hidden]="type==='icon'" (click)="openDropdown=!openDropdown" class="m-dropdown__toggle btn {{btnColor}} dropdown-toggle">{{dropText}}</a>
  <a href="javascript:void(0)" [hidden]="type==='btn'" (click)="openDropdown=!openDropdown" class="m-portlet__nav-link m-dropdown__toggle btn m-btn {{iconClass}}">
    <i class="{{icon}}" *ngIf="type==='icon'"></i>
  </a>
  <i class="la la-times-circle-o dropdown-btn-remove-icon" *ngIf="type==='btn'&&!isEmpty&&multiselect" (click)="removeValue()"></i>
  <div [hidden]="openDropdown" (mouseleave)="toggleDropdown()" class="m-dropdown__wrapper">
    <span class="m-dropdown__arrow m-dropdown__arrow--{{position}}"></span>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body lz-m-dropdown__body">
        <div class="m-dropdown__content">
          <ul class="m-nav lz-m-nav">
            <li class="m-nav__item lz-m-nav__item" *ngFor="let option of options" (click)="onSelected($event,option)" (mouseenter)="openChildren(option)"
              (mouseleave)="closeChildren(option)">
              <a class="m-nav__link" [ngClass]="{'m-dropdown__disabled':option.disabled}">
                <i class="m-nav__link-icon {{option.icon}}" [ngClass]="{'m-dropdown__disabled':option.disabled}"></i>
                <span class="m-nav__link-text" [ngClass]="{'m-dropdown__disabled':option.disabled}">{{option.text}}</span>
                <i *ngIf="option.children" class="m-menu__hor-arrow la la-angle-right lz-la-angle-right"></i>
              </a>
              <div [hidden]="!option.childrenOpen" class="m-dropdown__wrapper lz-m-dropdown__wrapper" [style.left]="position==='left'?'112%':position==='right'?'104%':'154%'">
                <span class="m-dropdown__arrow m-dropdown__arrow--left lz-m-dropdown__arrow--left"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__item" *ngFor="let childrenItem of option.children">
                          <a class="m-nav__link" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}" (click)="$event.stopPropagation();onSelected($event,childrenItem)">
                            <i class="m-nav__link-icon {{childrenItem.icon}}" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}"></i>
                            <span class="m-nav__link-text" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}">{{childrenItem.text}}</span>
                            <i *ngIf="childrenItem.children" class="m-menu__hor-arrow la la-angle-right lz-la-angle-right"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- hover -->
<div *ngIf="trigger==='hover'" class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-push m-dropdown--align-{{position}}"
  aria-expanded="true">
  <a href="javascript:void(0)" [hidden]="type==='icon'" (mouseenter)="openDropdown=!openDropdown" class="m-dropdown__toggle btn {{btnColor}} dropdown-toggle">{{dropText}}</a>
  <a href="javascript:void(0)" [hidden]="type==='btn'" (mouseenter)="openDropdown=!openDropdown" class="m-portlet__nav-link m-dropdown__toggle btn m-btn {{iconClass}}">
    <i class="{{icon}}" *ngIf="type==='icon'"></i>
  </a>
  <i class="la la-times-circle-o dropdown-btn-remove-icon" *ngIf="type==='btn'&&!isEmpty&&multiselect" (click)="removeValue()"></i>
  <div [hidden]="openDropdown" (mouseleave)="toggleDropdown()" class="m-dropdown__wrapper">
    <span class="m-dropdown__arrow m-dropdown__arrow--{{position}}"></span>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body lz-m-dropdown__body">
        <div class="m-dropdown__content">
          <ul class="m-nav lz-m-nav">
            <li class="m-nav__item lz-m-nav__item" *ngFor="let option of options" (click)="onSelected($event,option)" (mouseenter)="openChildren(option)"
              (mouseleave)="closeChildren(option)">
              <a class="m-nav__link" [ngClass]="{'m-dropdown__disabled':option.disabled}">
                <i class="m-nav__link-icon {{option.icon}}" [ngClass]="{'m-dropdown__disabled':option.disabled}"></i>
                <span class="m-nav__link-text" [ngClass]="{'m-dropdown__disabled':option.disabled}">{{option.text}}</span>
                <i *ngIf="option.children" class="m-menu__hor-arrow la la-angle-right lz-la-angle-right"></i>
              </a>
              <div [hidden]="!option.childrenOpen" class="m-dropdown__wrapper lz-m-dropdown__wrapper" [style.left]="position==='left'?'112%':position==='right'?'104%':'154%'">
                <span class="m-dropdown__arrow m-dropdown__arrow--left lz-m-dropdown__arrow--left"></span>
                <div class="m-dropdown__inner">
                  <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                      <ul class="m-nav">
                        <li class="m-nav__item" *ngFor="let childrenItem of option.children">
                          <a class="m-nav__link" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}" (click)="$event.stopPropagation();onSelected($event,childrenItem)">
                            <i class="m-nav__link-icon {{childrenItem.icon}}" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}"></i>
                            <span class="m-nav__link-text" [ngClass]="{'m-dropdown__disabled':childrenItem.disabled}">{{childrenItem.text}}</span>
                            <i *ngIf="childrenItem.children" class="m-menu__hor-arrow la la-angle-right lz-la-angle-right"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
