<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">tips提示</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>top</h5>
          <button type="button" class="btn btn-secondary" nzTitle="prompt text" nzPlacement="top" nz-button nz-tooltip>
            Secondary </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>bottom</h5>
          <button type="button" class="btn btn-secondary" nzTitle="prompt text" nzPlacement="bottom" nz-button
            nz-tooltip> Secondary </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>left</h5>
          <button type="button" class="btn btn-secondary" nzTitle="prompt text" nzPlacement="left" nz-button nz-tooltip>
            Secondary </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>right</h5>
          <button type="button" class="btn btn-secondary" nzTitle="prompt text" nzPlacement="right" nz-button
            nz-tooltip> Secondary </button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>click trigger</h5>
          <button type="button" class="btn btn-secondary" nzTitle="prompt text" nzPlacement="top" nz-button nz-tooltip
            [nzTrigger]="'click'"> Secondary </button>
        </div>
      </div>
    </div>
  </div>
</div>
