<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">Tips提示</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>Right</h5>
          <input type="email" class="form-control m-input" pTooltip="Enter email" placeholder="Enter email">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>Top</h5>
          <input type="email" class="form-control m-input" pTooltip="Enter email" tooltipPosition="top" placeholder="Enter email">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>Left</h5>
          <input type="email" class="form-control m-input" pTooltip="Enter email" tooltipPosition="left" placeholder="Enter email">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>Bottom</h5>
          <input type="email" class="form-control m-input" pTooltip="Enter email" tooltipPosition="bottom" placeholder="Enter email">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>Focus trigger</h5>
          <input type="email" class="form-control m-input" pTooltip="Enter email" tooltipPosition="top" tooltipEvent="focus" placeholder="Enter email">
        </div>
      </div>
    </div>
  </div>
</div>
