::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #9ea7c0;
  opacity: 0.7;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5cad9;
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

@keyframes autofill {
  to {
    color: #000;
    background: none;
  }
}

.m-dropdown__wrapper {
  min-width: 443px;
}

.lz-vehicle-selection-result-text {
  display: inline-block;
  padding: 5px 0;
}

.lz-vehicle-selection-type {
  margin-top: 8px;
  border-bottom: solid 1px #dcd7d7;
  padding-bottom: 10px;
}

.lz-vehicle-selection-letter {
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  border-right: solid 1px #dcd7d7;
}

.lz-vehicle-selection-letter li {
  padding: 0 4px;
}

.lz-vehicle-selection-letter li:hover {
  background: #2c2e3e;
  color: #fff;
  cursor: pointer;
}

.lz-vehicle-selection-letter-li-active {
  background: #2c2e3e;
  color: #fff;
  cursor: pointer;
}

.lz-vehicle-selection-container {
  max-height: 260px;
  overflow: auto;
}

.lz-vehicle-selection-container b {
  font-weight: bold;
}

.lz-vehicle-selection-item {
  margin-left: 4px;

  p {
    margin: 0;
    padding: 4px 0;
    border-bottom: solid 1px #fff;
  }
}

.lz-vehicle-selection-hover:hover {
  color: #716aca;
  border-bottom-color: #dfe0e2 !important;
  cursor: pointer;
}

.lz-vehicle-selection-cartitle {
  font-weight: bold;
}

.m-dropdown__wrapper {
  width: 100%;
}

.m-section__content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.m-dropdown .m-dropdown__wrapper {
  width: 100%;
}

.m-dropdown.m-dropdown--inline {
  display: block;
}

.m-section__content .m-dropdown__toggle {
  display: block;
}

.lz-vehicle-filtering {
  margin-bottom: 10px;
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__body {
  padding: 10px 20px 20px;
}

.lz-vehicle-selection-wr {
  position: relative;
  height: 100%;
}

.lz-vehicle-selection-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.1;
  z-index: 2;
}

button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -20px;
  border: none;
  background: none;
}

.lz-vehicle-selection-show {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
