<div *ngIf="type==='line'" class="lz-progress">
  <div class="lz-progress-bar">
    <div class="lz-progress-bar__outer" [ngStyle]="{'height':setLineHeight()}">
      <div class="lz-progress-bar__inner" [ngStyle]="{'background-color':setBackGround(),'width': progress + '%'}">
        <div *ngIf="textInside==='inside'&&textShow===true" [ngStyle]="{'color':'#fff'}" class="lz-progress__text">{{progress}}%</div>
      </div>
    </div>
  </div>
  <div *ngIf="textInside==='outside'" [ngStyle]="{'color':'#5a5e66'}" class="lz-progress__text">
    <span *ngIf="progress!==100&&textShow===true">{{progress}}%</span>
    <i *ngIf="progress===100" [ngStyle]="{'color':'#67C23A'}" class="la la-check-circle"></i>
  </div>
</div>

<div *ngIf="type==='circle'" class="lz-progress text-center" [ngStyle]="{'margin':'auto','width':setWidth(),'height':setWidth()}">
  <svg viewBox="0 0 100 100">
    <path fill="none" stroke="#e5e9f2" d="M 50 50 m 0 -47 a 47 47 0 1 1 0 94 a 47 47 0 1 1 0 -94"
      stroke-width="4.8"></path>
    <path class="lz-circle__inner" fill="none" stroke-linecap="round" d="M 50 50 m 0 -47 a 47 47 0 1 1 0 94 a 47 47 0 1 1 0 -94"
       stroke-width="4.8" [ngStyle]="{'stroke-dashoffset': setCircleProgress(),'stroke': setStrokeColor()}"></path>
  </svg>
  <div class="lz-circle-progress__text">
      <span *ngIf="progress!==100&&status!=='exception'">{{progress}}%</span>
      <i *ngIf="progress===100" [ngStyle]="{'color':'#67C23A'}" class="la la-check"></i>
      <i *ngIf="status==='exception'" [ngStyle]="{'color':'#FF4949'}" class="la la-close"></i>
  </div>
</div>
