<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">rate评分</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm4">
          <h5>简单用法</h5>
          <p-rating [(ngModel)]="value1"></p-rating>
          <div>{{value1}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm4">
          <h5>无取消图标</h5>
          <p-rating [(ngModel)]="value2" [cancel]="false"></p-rating>
        </div>
        <div class="col-lg-4 col-md-4 col-sm4">
          <h5>只读</h5>
          <p-rating [ngModel]="5" readonly="true" stars="10" [cancel]="false"></p-rating>
        </div>
        <div class="col-lg-4 col-md-4 col-sm4">
          <h5>禁用</h5>
          <p-rating [ngModel]="value3" disabled="true" stars="10"></p-rating>
          <div>{{value3}}</div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm4">
          <h5>自定义icon</h5>
          <p-rating [ngModel]="value4" iconOnClass="pi pi-circle-on" iconOffClass="pi pi-circle-off" iconCancelClass="pi pi-times">;</p-rating>
          <div>{{value4}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
