<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">switch开关</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>[默认]</h6>
          <zr-switch [(checked)]="switch13" [type]="'round'"></zr-switch>
          <div>{{switch13}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>带icon</h6>
          <zr-switch [icon]="true" [(checked)]="switch14" [type]="'round'"></zr-switch>
          <div>{{switch14}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>禁用</h6>
          <zr-switch [icon]="true" [disabled]="true" [(checked)]="switch15" [type]="'round'"></zr-switch>
          <div>{{switch15}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>大尺寸</h6>
          <zr-switch [icon]="true" [size]="'lg'" [(checked)]="switch16" [type]="'round'"></zr-switch>
          <div>{{switch16}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>小尺寸</h6>
          <zr-switch [icon]="true" [size]="'sm'" [(checked)]="switch17" [type]="'round'"></zr-switch>
          <div>{{switch17}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>状态[成功]</h6>
          <zr-switch [icon]="true" [state]="'success'" [(checked)]="switch18" [type]="'round'"></zr-switch>
          <div>{{switch18}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>状态[警告]</h6>
          <zr-switch [icon]="true" [state]="'warning'" [(checked)]="switch19" [type]="'round'"></zr-switch>
          <div>{{switch19}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>状态[信息]</h6>
          <zr-switch [icon]="true" [state]="'info'" [(checked)]="switch20" [type]="'round'"></zr-switch>
          <div>{{switch20}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>状态[危险]</h6>
          <zr-switch [icon]="true" [state]="'danger'" [(checked)]="switch21" [type]="'round'"></zr-switch>
          <div>{{switch21}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>状态[重复]</h6>
          <zr-switch [icon]="true" [state]="'accent'" [(checked)]="switch22" [type]="'round'"></zr-switch>
          <div>{{switch22}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>带边框</h6>
          <zr-switch [icon]="true" [outline]="true" [(checked)]="switch23" [type]="'round'"></zr-switch>
          <div>{{switch23}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>选中</h6>
          <zr-switch [icon]="true" [outline]="true" [(checked)]="switch24" [type]="'round'"></zr-switch>
          <div>{{switch24}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[默认]</h6>
          <zr-switch [(checked)]="switch1"></zr-switch>
          <div>{{switch1}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型禁用</h6>
          <zr-switch [disabled]="true" [(checked)]="switch3"></zr-switch>
          <div>{{switch3}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[大尺寸]</h6>
          <zr-switch [size]="'lg'" [(checked)]="switch4"></zr-switch>
          <div>{{switch4}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[小尺寸]</h6>
          <zr-switch [size]="'sm'" [(checked)]="switch5"></zr-switch>
          <div>{{switch5}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[成功]</h6>
          <zr-switch [state]="'success'" [(checked)]="switch6"></zr-switch>
          <div>{{switch6}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[警告]</h6>
          <zr-switch [state]="'warning'" [(checked)]="switch7"></zr-switch>
          <div>{{switch7}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[信息]</h6>
          <zr-switch [state]="'info'" [(checked)]="switch8"></zr-switch>
          <div>{{switch8}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[危险]</h6>
          <zr-switch [state]="'danger'" [(checked)]="switch9"></zr-switch>
          <div>{{switch9}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[重复]</h6>
          <zr-switch [state]="'accent'" [(checked)]="switch10"></zr-switch>
          <div>{{switch10}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[自定义文字]</h6>
          <zr-switch [state]="'accent'" [(checked)]="switch11" [text]="text"></zr-switch>
          <div>{{switch11}}</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 m-portlet__body">
          <h6>button型[大圆角]</h6>
          <zr-switch [(checked)]="switch12" [radius]="'lg'"></zr-switch>
          <div>{{switch12}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
