<label ng2File2Drop ondragover="return false;" [uploader]="uploader">
  <span class="lz-upload-font">
    <span class="la la-cloud-upload"></span>
    <br />
    <span>将文件拖到此处，或</span>
    <span class="m--font-info">点击上传</span>
  </span>
  <input type="file" name="file" ng2File2Select *ngIf="!multiple" accept="{{accept}}" [uploader]="uploader" />
  <input type="file" name="file" ng2File2Select *ngIf="multiple" accept="{{accept}}" multiple [uploader]="uploader" />
</label>

<div *ngIf="(uploader.queue$ | async).length>0" class="lz-file-upload-list">
  <div *ngFor="let file of (uploader.queue$ | async)" class="lz-file-upload-list-item" (mouseenter)="activeDeleteIcon=file?.name"
    (mouseleave)="activeDeleteIcon=''">
    <span class="lz-file-upload-list-icon fa fa-file-o {{setIcon(file?.type)}}" [ngClass]="{'m--font-brand':file?.success,'m--font-metal':!file?.success}"></span>
    <a *ngIf="file?.success" [href]="file?.url" target="_blank" [innerHTML]="file?.name"></a>
    <a *ngIf="!file?.success" [innerHTML]="file?.name"></a>

    <span [ngSwitch]="file?.isSuccess">
      <span *ngSwitchCase="'1'" class="lz-file-upload-status fa float-right" [ngClass]="{'fa-times-circle m--font-metal':activeDeleteIcon===file?.name,'fa-check-circle m--font-success':activeDeleteIcon!==file?.name}"
        (click)="file?.remove()"></span>
      <span *ngSwitchCase="'2'" class="lz-file-upload-status fa fa-times-circle float-right" [ngClass]="{'m--font-metal':activeDeleteIcon===file?.name,'m--font-danger':activeDeleteIcon!==file?.name}"
        (click)="file?.remove()"></span>
      <span *ngSwitchDefault [ngStyle]="{'width':'13px','height':'20px'}" class="lz-file-upload-status float-right m-loader m-loader--sm m-loader--brand"></span>
    </span>

    <div>
      <div class="lz-file-upload-press-content float-left">
        <div class="lz-file-upload-press-bg">
          <span class="progress-bar" [ngStyle]="{ 'width': file?.progress + '%' }"></span>
        </div>
      </div>
      <div class="float-right text-right lz-file-upload-press-text" [innerHTML]="file?.progress + '%'"></div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
