<label ng2File2Drop ondragover="return false;" [uploader]="uploader" (fileAccepted)="setFiles($event)">
  <span class="lz-upload-font">
    <span class="el-icon-upload"></span>
    <br />
    <span>将文件拖到此处，或</span>
    <span class="m--font-info">点击上传</span>
  </span>
  <input *ngIf="!multiple" ng2File2Select type="file" accept="{{accept}}" name="file" [uploader]="uploader" />
  <input *ngIf="multiple" ng2File2Select type="file" accept="{{accept}}" name="file" multiple [uploader]="uploader" />
</label>
<div *ngIf="uploadResult.length>0" class="lz-file-upload-list">
    <div *ngFor="let item of uploadResult" class="lz-file-upload-list-item"
        (mouseenter)="deleteItem=item.Data.Filename"
        (mouseleave)="deleteItem=''">
        <span class="lz-file-upload-list-icon m--font-brand fa {{item.fileType}}"></span>
        <a href="{{item.Data.Url}}" target="_blank">{{item.Data.Filename}}</a>
        <span *ngIf="!(item.Data.Filename===deleteItem)" class="lz-file-upload-status float-right fa fa-check-circle" 
        [ngClass]="{'fa-check-circle m--font-success':item.Success, 'fa-times-circle m--font-danger':!item.Success}"></span>
        <span *ngIf="item.Data.Filename===deleteItem" (click)="deleteUpload(item)" class="lz-file-upload-status float-right fa fa-times-circle m--font-metal"></span>
    </div>
</div>
