$cubicBezier: 0.25,0.46,0.45,0.94;

.drop-area {
  position: relative;
  display: flex;
  border: 1px dashed #d9d9d9;
  width: 100%;
  height: 180px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition:
    background-color cubic-bezier($cubicBezier) 0.3s,
    border-color cubic-bezier($cubicBezier) 0.3s,
    opacity cubic-bezier($cubicBezier) 0.3s;
  background-color: transparent;
  background-clip: padding-box;
  z-index: 1;

  &.drop-enter {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.9);

    &:after {
      content: attr(dropValueText);
    }
  }

  input {
    display: none;
  }

  img,
  .icon {
    pointer-events: none;
  }

  img {
    left: 50%;
    opacity: 0;
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;

    &.loaded {
      opacity: 0.7;
    }
  }

  .lz-upload-font {
    display: inline-block;
    margin: auto;
  }
}

.drop-area:hover {
  border-color: #36a3f7;
}

.el-icon-upload {
  margin-bottom: 10px;
  font-size: 67px;
  color: #b4bccc;
}

.lz-file-upload-list {
  width: 100%;
  padding: 10px;
  border: solid 1px #d9d9d9;
  border-radius: 4px;

  .lz-file-upload-list-item {
    display: block;
    padding: 4px 0;
    cursor: pointer;

    a {
      text-decoration: none;
    }
  }

  .lz-file-upload-status {
    line-height: 20px;
  }

  .lz-file-upload-list-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    font-size: 14px;
  }
}

.progress-bar {
  display: inline-block;
  height: 2px;
}

.lz-file-upload-press-content {
  display: inline-block;
  width: 94%;
}

.lz-file-upload-press-text {
  display: inline-block;
  width: 6%;
  padding-left: 8px;
  line-height: 27px;
  font-size: 12px;
}
