.idle-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #000;
  opacity: 0.6;
  z-index: 9999;

  h2 {
    margin: auto;
    color: #fff;
    font-size: 3em;

    .idle-countdown {
      display: inline-block;
      font-size: 2em;
    }
  }
}
