<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">表单验证器使用文档</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul>
      <li>
        <h5>说明：</h5>
        <span>
            验证器视觉反馈组件“app-validation-message”,集成了第三方验证器 “ng2-validation”,此验证器，
            包括常见的必填验证、数字验证、最小/大值验证、字符长度验证、日期验证、最小/大日期验证、 邮箱验证、
            网址验证、字段相同验证等。需要特别说明的是最大/小字符长度验证，不能反馈限制值，用传值label来代替反馈值。
            各种验证方法详见demo，更多不常见信息验证请查看
        </span>
        <a href="https://www.npmjs.com/package/ng2-validation">第三方文档</a>。
      </li>
      <li>
        <br/>
        <h5>使用方法：</h5>
        <span>1、在当前模块的.module.ts中引入:</span>
        <br/>
        <code> import &#123; FormsModule,ReactiveFormsModule &#125; from '@angular/forms';</code>
        <br/>
        <code> import &#123; SharedModule &#125; from '../shared/shared.module';</code>
        <small>//注：验证器组件于SharedModule模块中，只需将‘SharedModule’引入即可。</small>
      </li>
      <li>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;添加到@NgModule装饰器中:</span>
        <br/>
        <code>@NgModule(&#123;<br/>&nbsp;&nbsp;&nbsp;&nbsp;imports: [<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FormsModule,<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ReactiveFormsModule,<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SharedModule<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;]<br/>&#125;);</code>
      </li>
      <li>
        <span>2、.component.ts中:</span>
        <br/>
        <code> import &#123; FormBuilder, FormControl, FormGroup, Validators &#125; from '@angular/forms';</code>
        <br/>
        <code> import &#123; CustomValidators &#125; from 'ng2-validation';</code>
      </li>
      <li>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;class类中,定义form变量实现接口FormGroup，构造函数中定义验证规则，如下：</span>
        <br/>
        <code>
            export class FormValidatorComponent implements OnInit &#123;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;form: FormGroup;<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;constructor(<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;private formBuilder: FormBuilder<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;) &#123;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.form = this.formBuilder.group(&#123;<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;required: [null, [Validators.required]],<small> //必填验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email: [null, [CustomValidators.email]],<small> //邮箱验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;number: [null, [CustomValidators.number]],<small> //数字验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;min: [null, [CustomValidators.number, CustomValidators.min(5)]],<small> //最小数字验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max: [null, [CustomValidators.number, CustomValidators.max(5)]],<small> //最大数字验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maxLength: [null, [Validators.maxLength(5)]],<small> //最大字符长度验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;minLength: [null, [Validators.minLength(5)]],<small> //最小字符长度验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;date: [null, [CustomValidators.date]],<small> //日期验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;minDate: [null, [CustomValidators.minDate('2018-03-07')]],<small> //最小日期验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;maxDate: [null, [CustomValidators.maxDate('2018-03-07')]],<small> //最大日期验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;phone: [null, [Validators.pattern(/^((0\d&#123;2,3&#125;-\d&#123;7,8&#125;)|(1[3|4|5|7|8][0-9]\d&#123;8&#125;))$/)]],<small> //自定义正则表达式验证电话号码。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;url: [null, [CustomValidators.url]],<small> //网址验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;password: password,<small> //值不相同验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;equalTo: certainPassword<small> //值不相同验证。</small><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#125;);<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&#125;;<br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;ngOnInit() &#123;&nbsp;&nbsp;&#125;;<br/>
            &#125;;<br/>
        </code>
      </li>
      <li>
        <span>3、.component.html中，以验证email为例,其他见demo文件'form-validator.component.html'：</span>
      </li>
      <li>
        <code>
          &lt;form [formGroup]="form"&gt;
          <br/> &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" class="form-control" name="email" formControlName="email" /&gt;
          <br/> &nbsp;&nbsp;&nbsp;&nbsp;&lt;app-validation-message [control]="form.controls['email']"&gt;&lt;/app-validation-message&gt;
          <br/>&lt;/form&gt;
        </code>
      </li>
      <li>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;注：ng2-validation验证器中的phone验证电话号码不能针对国内电话号码规则正确验证，使用angular内置正则表达式来进行验证，</span>
        <span>验证器详细code见demo文件。</span>
      </li>
    </ul>
  </div>
</div>
