.bootstrap-touchspin {
  width: 100%;
  min-width: 220px;
}

.form-control {
  display: block;
  margin-left: -1px;
  margin-right: -1px;
}

.bootstrap-touchspin-up {
  height: 41px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.bootstrap-touchspin-down {
  height: 41px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bootstrap-touchspin-prefix {
  border-top: solid 1px #ebedf2;
  border-bottom: solid 1px #ebedf2;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.disabled {
  cursor: not-allowed;
}
