<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">文件上传使用文档</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill" type="button"
            (click)="location.back()">
            <span>
              <i class="la la-rotate-left"></i>
              <span>返回</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul>
      <li>
        <h5>使用方法：</h5>
        <a href="http://lp-doc.lunztech.cn/component/upload/upload/" target="_blank">http://lp-doc.lunztech.cn/component/upload/upload/</a>
      </li>
    </ul>
  </div>
</div>
