<div class="m-portlet" [ngStyle]="{'box-shadow':'none'}">
  <!-- head -->
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text"> 角色用户列表 </h3>
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="m-portlet__body p-0">
    <div [ngStyle]="{'height':'480px'}">
      <ng-select [ngStyle]="{'margin':'2px 0'}" [options]="mechanismList" (selected)="getRootDepertList($event)"
        placeholder="--请选择机构--">
      </ng-select>
      <p-tree *ngIf="nodeTrees.length>0" [value]="nodeTrees" selectionMode="single" [(selection)]="selectedNode"
        (onNodeExpand)="getDeperChildtList($event)" (onNodeSelect)="nodeSelect($event)" [loading]="loading" [style]="{'width':'100%','max-height':'450px','overflow':'auto'}">
      </p-tree>
    </div>
  </div>
</div>
