<!-- not icon -->
<div *ngIf="!rightIcon&&!iconRightText&&!leftIcon&&!iconLeftText" [ngClass]="{'input-group':layoutType==='inline'}" class="form-group m-form__group">
  <label *ngIf="label&&layoutType==='inline'" [ngClass]="{'lz-input-text-label':layoutType==='inline'}">{{label}}</label>
  <div *ngIf="label&&layoutType==='block'">
    <label>{{label}}</label>
  </div>
    <input type="{{type}}" 
        [ngClass]="{'lz-input-text-border-radius':layoutType==='inline'}"
        class="form-control m-input" 
        placeholder="{{placeholder}}"
        [ngModel]="value"
        (ngModelChange)="selected($event)"
        [style.height]="size==='large'?'40px':size==='small'?'28px':'37px'"
    />
</div>

<!-- icon -->
<div *ngIf="rightIcon||iconRightText||leftIcon||iconLeftText" class="form-group m-form__group">
  <label *ngIf="label&&layoutType==='block'">{{label}}</label>
  <div class="input-group" [style.height]="size==='large'?'40px':size==='small'?'28px':'37px'">
    <label *ngIf="label&&layoutType==='inline'" class="lz-input-text-label">{{label}}</label>
    <span *ngIf="leftIcon||iconLeftText" (click)="clickIcon()" class="input-group-addon">
        <i *ngIf="leftIcon" class="{{leftIcon}}"></i>
        <span *ngIf="iconLeftText">{{iconLeftText}}</span>
    </span>
    <input type="{{type}}" class="form-control m-input" placeholder="{{placeholder}}" [ngModel]="value" (ngModelChange)="selected($event)"/>
    <span *ngIf="rightIcon||iconRightText" (click)="clickIcon()" class="input-group-addon">
        <i *ngIf="rightIcon" class="{{rightIcon}}"></i>
        <span *ngIf="iconRightText">{{iconRightText}}</span>
    </span>
  </div>
</div>
