<div class="m-portlet">
  <!-- head -->
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text"> 角色用户列表 </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <a routerLink="/roles" class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill">
            <span>
              <i class="la la-reply"></i>
              <span>返回列表</span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item">
          <a class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill">
            <span>
              <i class="la la-plus"></i>
              <span>添加用户</span>
            </span>
          </a>
        </li>
        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
          data-dropdown-toggle="hover" aria-expanded="true">
          <a class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
            <i class="la la-ellipsis-v"></i>
          </a>
          <div class="m-dropdown__wrapper">
            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
            <div class="m-dropdown__inner">
              <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                  <ul class="m-nav">
                    <li class="m-nav__item">
                      <a class="m-nav__link">
                        <i class="m-nav__link-icon flaticon-close"></i>
                        <span class="m-nav__link-text">批量移除</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- body -->
  <div class="m-portlet__body p-0">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <app-institutions></app-institutions>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <app-users-list></app-users-list>
      </div>
    </div>
  </div>
</div>
