<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">树结构</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" [routerLink]="['using-documents']">
          <button class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" type="button">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <tree-root #tree [nodes]="nodes" [options]="options" (moveNode)="onMoveNode($event)">
            <ng-template #treeNodeTemplate let-node="node" let-index="index">
              <i class="jstree-icon jstree-themeicon {{node.data.icon}} m--font-success jstree-themeicon-custom" role="presentation"></i>
              <span (click)="getItemData(node)">{{ node.data.name }}</span>
            </ng-template>
          </tree-root>
        </div>
        <div class="col-lg-6">
            {{itemData}}
        </div>
      </div>
    </div>
  </div>
</div>
