<div class="modal-header">
  <h5 class="modal-title">创建节点</h5>
  <button type="button" class="close" (click)="activeModal.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="m-t" role="form" [formGroup]="form" novalidate>
    <div class="form-body">
      <div class="form-group">
        <label>节点名称
          <span class="text-danger">*</span>
        </label>
        <input type="text" formControlName="nodeName" placeholder="节点名称" class="form-control" [(ngModel)]="label" />
        <zr-validation-message [control]="form.controls['nodeName']" label="节点名称"></zr-validation-message>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-brand m-btn m-btn--icon m-btn--pill" [ladda]="saving" [disabled]="form.invalid || (!form.dirty && !form.touched)" (click)="submit()">
    <span>
      <i class="la la-check"></i>
      <span>保存</span>
    </span>
  </button>
  <button type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill" (click)="activeModal.hide()">
    <span>
      <i class="la la-rotate-left"></i>
      <span>取消</span>
    </span>
  </button>
</div>
