.lz-tag-item {
  padding: 0 10px;
}

.lz-tag-item-text {
  display: inline-block;
}

.lz-tag-item-radius-small {
  border-radius: 2px;
}

.lz-tag-item-radius-middle {
  border-radius: 4px;
}

.lz-tag-item-radius-large {
  border-radius: 6px;
}

.lz-tag-item-small {
  padding: 4px 0;
  font-size: 12px;
}

.lz-tag-item-middle {
  padding: 6px 0;
  font-size: 14px;
}

.lz-tag-item-large {
  padding: 8px 0;
  font-size: 16px;
}

.lz-tag-item-close {
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
}

.lz-tag-gray {
  color: rgb(64, 158, 255);
  border: 1px solid rgba(64, 158, 255, .2);
  background-color: rgba(64, 158, 255, .1);
}

.lz-tag-primary {
  color: rgb(88, 103, 221);
  border: 1px solid rgba(88, 103, 221, .2);
  background-color: rgba(88, 103, 221, .1);
}

.lz-tag-success {
  color: rgb(52, 191, 163);
  border: 1px solid rgba(52, 191, 163, .2);
  background-color: rgba(52, 191, 163, .1);
}

.lz-tag-warning {
  color: rgb(255, 184, 34);
  border: 1px solid rgba(255, 184, 34, .2);
  background-color: rgba(255, 184, 34, .1);
}

.lz-tag-danger {
  color: rgb(244, 81, 108);
  border: 1px solid rgba(244, 81, 108, .2);
  background-color: rgba(244, 81, 108, .1);
}
