<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">select2</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item" [routerLink]="['using-documents']">
          <button class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" type="button">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 m-portlet__body">
          <h6>异步</h6>
          <div #customerInput class="input-group">
            <ng-select 
                [options]="customers"
                [placeholder]="'请选择客户'"
                [allowClear]="true"
                [(ngModel)]="customer"
                (selected)="handler($event)">
            </ng-select>
          </div>
          <div>双向绑定：{{customer | json}}</div>
          <div>选择：{{handlerCustomer | json}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
