<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">使用文档</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul>
      <li>
        <h5>使用方法：</h5>
        <span> 说明：树形组件用了第三方组件
          <a href="https://angular2-tree.readme.io/docs">angular-tree-component</a>angular-tree-component,此组件功能强大，demo中使用了异步加载子节点，拖动换节点位置，其他更多功能请详见官方文档;</span>
        <br/>
        <h6>Demo示例</h6>
        <span>1、在当前模块的.module.ts中引入:</span>
        <br/>
        <code> import &#123; TreeModule &#125; from 'angular-tree-component';</code>
      </li>
      <li>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;添加到@NgModule装饰器中:</span>
        <br/>
        <code>@NgModule(&#123;
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;imports: [
          <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TreeModule
          <br/> &nbsp;&nbsp;&nbsp;&nbsp;]
          <br/>&#125;);
        </code>
      </li>
      <li>
        <span>2、.component.ts中请查看demo文件‘treeview-demo.component.ts’,有详细的注释说明。</span>
      </li>
      <li>
        <span>3、.component.html中，请查看demo文件‘treeview-demo.component.html’ 中标签&lt;tree-root&gt;&lt;/tree-root&gt;中的内容。</span>
      </li>
      <li>
        <span>4、更多功能详细说明请查看
          <a href="https://angular2-tree.readme.io/docs">官方文档，</a>
          github位置请
          <a href="https://github.com/500tech/angular-tree-component">点击</a>
        </span>
      </li>
    </ul>
  </div>
</div>
