<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">下拉选择器</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h6>基础</h6>
          <p-dropdown
            [options]="cities"
            [(ngModel)]="selectedCity"
            [style]="{'width':'250px'}"
            placeholder="Select a City"
            optionLabel="name"
            [showClear]="true">
          </p-dropdown>
          <div>{{selectedCity?.name}}</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h6>可编辑</h6>
          <p-dropdown
            [options]="cities"
            optionLabel="name"
            [(ngModel)]="selectedCity1"
            [style]="{'width':'250px'}"
            editable="true"
            placeholder="Select a City">
          </p-dropdown>
          <div>{{selectedCity1?.name||selectedCity1}}</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h6>过滤</h6>
          <p-dropdown
            [options]="cities"
            optionLabel="name"
            [(ngModel)]="selectedCity2"
            [style]="{'width':'250px'}"
            filter="true"
            placeholder="Select a City">
          </p-dropdown>
          <div>{{selectedCity2?.name}}</div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <h6>按组显示</h6>
          <p-dropdown [options]="groupedCars"
            [(ngModel)]="selectedCity3"
            [style]="{'width':'250px'}"
            placeholder="Select a Car"
            [group]="true">
            <ng-template let-group pTemplate="group">
              <span style="margin-left:.25em">{{group.label}}</span>
            </ng-template>
          </p-dropdown>
          <div>{{selectedCity3}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
