<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">Tag标签</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>默认</h5>
          <zr-tag [text]="'标签一'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>小尺寸</h5>
          <zr-tag [text]="'标签二'" [size]="'small'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>大尺寸</h5>
          <zr-tag [text]="'标签三'" [size]="'large'"></zr-tag>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>primary</h5>
          <zr-tag [text]="'标签四'" [type]="'primary'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>success</h5>
          <zr-tag [text]="'标签五'" [type]="'success'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>warning</h5>
          <zr-tag [text]="'标签六'" [type]="'warning'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>danger</h5>
          <zr-tag [text]="'标签七'" [type]="'danger'"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>可移除标签</h5>
          <zr-tag *ngFor="let tag of tags;let i=index" [text]="tag.text" [type]="tag.type" [closeTag]="true" (close)="closeTag(i)"></zr-tag>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 m-portlet__body">
          <h5>点击tag时传出tag数据</h5>
          <zr-tag [text]="'标签八'" (handle)="clickTag($event)"></zr-tag>
          <div>{{tag}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
