<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">图表使用文档</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button class="btn btn-sm btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--pill" type="button" (click)="location.back()">
            <span>
              <i class="la la-rotate-left"></i>
              <span>返回</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul>
      <li>
        <h5>使用方法：</h5>
        <span>说明：在图表demo使用的是第三方图表插件'highcharts'，相关依赖已经引入到框架中，使用时只需在组件中定义highcharts全局变量即可使用。</span>
        使用时推荐使用highcharts官方推出的图形化界面工具来创建自己想要的图表类型，操作步骤如下：
        <br>
      </li>
      <li>
        <span>1、工具地址：
          <a href="https://github.com/highcharts/highcharts-editor/releases">https://github.com/highcharts/highcharts-editor/releases</a> 根据自己电脑选择合适的版本，win、linux、mac均有。</span>
        <br>
        <span>2、打开工具，选择模拟数据或自己创建。</span>
        <br>
        <span>3、选择图表类型。</span>
        <br>
        <span>4、图表配置，图表的所有属性均可在里面配置。</span>
        <br>
        <span>5、导出配置，项目中使用建议导出JSON格式，复制到项目中，封装到自己的函数中，替换里面的模拟数据即可。</span>
        <br>
      </li>
    </ul>
  </div>
</div>
