<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon">
          <i class="flaticon-interface-2"></i>
        </span>
        <h3 class="m-portlet__head-text">steps步骤条</h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <button [routerLink]="['using-documents']" type="button" class="btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
            <i class="flaticon-questions-circular-button"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>基础用法</h5>
          <zr-steps [steps]="steps1" [stepActive]="stepActive1"></zr-steps>
          <zr-button [borderRadius]="'pill'" (click)="step1()" [text]="'下一步'"></zr-button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>带描述性文本</h5>
          <zr-steps [steps]="steps2" [stepActive]="stepActive2"></zr-steps>
          <zr-button [borderRadius]="'pill'" (click)="step2()" [text]="'下一步'"></zr-button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>自定义图标</h5>
          <zr-steps [steps]="steps3" [stepActive]="stepActive3" [icon]="icon"></zr-steps>
          <zr-button [borderRadius]="'pill'" (click)="step3()" [text]="'下一步'"></zr-button>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 m-portlet__body">
          <h5>自定义背景色</h5>
          <zr-steps [steps]="steps4" [color]="'#8085e9'" [stepActive]="stepActive4"></zr-steps>
          <zr-button [borderRadius]="'pill'" (click)="step4()" [text]="'下一步'"></zr-button>
        </div>
      </div>
    </div>
  </div>
</div>
